body{
	background-color: #68B396;
}
header{text-align: center;
background-color:#F2DF63 ;
width: 105%;
	margin-inline: -53px;
	margin-top: -10px;
	margin-bottom: 10px;
	font-family: 'Viga', sans-serif;
	font-size: 40px;
}
main{display: inline-flex;}
article{width: 100%;
		border-style: solid;
		border-radius: 10px;
		background-color: black;
		font-family: 'Fugaz One', cursive;
		color:#F0C5FD;
		box-shadow: 3px 6px 5px black;
}
h1{text-decoration: underline;
text-align: center;
font-size:30px;}
button{margin-left: 35%;
	font-size: 40px;
	font-family: 'Viga', sans-serif;
	background-color: #DEFCF1;
	color:#4AC571;
}
p{
	margin-inline:12px;
	text-align: center;
	font-size:30px;
}

#casque{
		display: none;
}
#kid{
	margin-right: 5%;
border-radius:10px;
box-shadow: 6px 6px 5px black;
}
footer{background-color:#F2DF63 ;
		width: 105%;
		margin-inline: -53px;
		text-align: center;
		margin-top: 10px;
		height: 25px;
		margin-bottom: -40px;
		font-family: 'Viga', sans-serif;
	}
	#68B396
	#F0C5FD
	#DEFCF1
	#C9BC9D
	#B0A792