body{
	background-color: #68B396;
}
header{text-align: center;
background-color:#F2DF63 ;
width: 105%;
	margin-inline: -53px;
	margin-top: -10px;
	margin-bottom: 10px;
	font-family: 'Viga', sans-serif;
	font-size: 40px;
}
main{display: inline-flex;}
article{width: 100%;
		border-style: solid;
		border-radius: 10px;
		background-color: black;
		font-family: 'Fugaz One', cursive;
		color:#F0C5FD;
		box-shadow: 3px 6px 5px black;
}
h1{text-decoration: underline;
text-align: center;
font-size:30px;}
button{margin-left: 35%;
	font-size: 40px;
	font-family: 'Viga', sans-serif;
	background-color: #DEFCF1;
	color:#4AC571;
	border-radius: 15px;
}
button:hover{
	font-size: 60px;
	margin-left: 30%;
}
p{
	margin-inline:12px;
	text-align: center;
	font-size:30px;
}
@keyframes décente {
  0% { transform: translate(-1000px, -100px) rotate(0deg); }
  10% { transform: translate(-900px, -90px) rotate(36deg); }
  20% { transform: translate(-800px, -80px) rotate(72deg); }
  30% { transform: translate(-700px, -70px) rotate(108deg); }
  40% { transform: translate(-600px, -60px) rotate(144deg); }
  50% { transform: translate(-500px, -50px) rotate(180deg); }
  60% { transform: translate(-400px, -40px) rotate(216deg); }
  70% { transform: translate(-300px, -30px) rotate(252deg); }
  80% { transform: translate(-200px, -20px) rotate(288deg); }
  90% { transform: translate(-100px, -10px) rotate(324deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}
#casque{
		display: block;
		position: absolute;
		width: 207px;
		animation: décente 1s;
  		animation-iteration-count: 1;
		top: 154px;
		left: 163px;
		transform: rotate(1deg);
}
#kid{
	margin-right: 5%;
	border-radius:10px;
	box-shadow: 6px 6px 5px black;
}
footer{background-color:#F2DF63 ;
		width: 105%;
		margin-inline: -53px;
		text-align: center;
		margin-top: 10px;
		height: 25px;
		margin-bottom: -40px;
		font-family: 'Viga', sans-serif;
	}